.agree {
  font-family: PingFang SC;
  font-size: 10px;
  line-height: normal;

  color: #8D9AAF;
}
.comment {
  margin-left: 10px;
  font-family: PingFang SC;
  font-size: 10px;
  line-height: normal;

  color: #8D9AAF;
}
