.footerBtn {
  background: #F0F3FA;
  border-radius: 15px;
  font-family: PingFang SC;
  font-size: 14px;
  line-height: normal;
  text-align: center;

  color: #8D9AAF;
  padding:6px 10px;
  margin-right: 10px;
  border-width: 0;
}
